language: python
python:
  - "3.6"
env:
  - TOXENV=py34
  - TOXENV=py35
  - TOXENV=py36
install:
  - pip install -U tox codecov

script:
  - tox

after_success:
  - codecov

addons: #Added to get python 3.5
  apt:
    sources:
      - deadsnakes
    packages:
      - python3.5